* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;

  --checkbox-gradient: linear-gradient(hsl(192, 100%, 67%),
      hsl(280, 87%, 65%));
     
      
}

.light-theme{
  --main-background: hsl(0, 0%, 98%);
--todo-list: hsl(0, 0%, 98%);
  --light-gray-blue: hsl(233, 11%, 84%);
  --hover: hsl(236, 33%, 12%);
  --dark-gray-blue: hsl(236, 9%, 61%);
  --very-dark-gray-blue: hsl(233, 14%, 35%);
  --border-list: hsl(233, 11%, 84%);
  --active-links:hsl(220, 98%, 61%);
  --list-items: hsl(235, 19%, 35%);
  --strike-off: hsl(233, 11%, 84%);
  --background-image:url("../src/images/bg-desktop-light.jpg");
  --box-shadow:hsl(233, 14%, 35%, 0.39);
  --gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%) );
}

.dark-theme {
  --main-background: hsl(235, 21%, 11%);
  --todo-list: hsl(235, 24%, 19%);
  --light-gray-blue: hsl(234, 39%, 85%);
  --hover: hsl(236, 33%, 92%);
  --dark-gray-blue: hsl(234, 11%, 52%);
  --very-dark-gray-blue: hsl(233, 14%, 35%);
  --border-list: hsl(237, 14%, 26%);
  --active-links: hsl(220, 98%, 61%);
  --list-items:hsl(234, 39%, 85%); 
  --strike-off: hsl(233, 14%, 35%);
  --background-image:url("../src/images/bg-desktop-dark.jpg");
  --box-shadow:hsla(0, 0%, 0%, 0.39);
  --gradient: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%) );
}

button{
  cursor: pointer;

}

.todo-background{
  background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: contain;
    background-color:var(--main-background);
    height: 100vh;
    display: grid;
    grid-column: 1fr;
    grid-template-rows: 2fr 4fr;
}


.theme-toggle{
  cursor: pointer;
}


.todo-container {
grid-column: 1/-1;
grid-row: 1/-1;
  display: grid;
  grid-template-columns: minmax(5px, auto) repeat(2, 250px) minmax(5px, auto);
  grid-template-rows: 5% 5% minmax(50px, auto) 1fr  minmax(50px, auto) ;
 gap:2%;
  z-index: 100;
}

.todo-container h1 {
  text-transform: uppercase;
  margin: 0;
  grid-column: 2/3;
  grid-row: 2/3;
  letter-spacing: 0.3em;
  color: hsl(0, 0%, 98%);
}

.todo-container img {
  grid-column: 3/4;
  grid-row: 2/3;
  margin-left: auto;
}

.text-input{
  background-color: var(--todo-list);
    grid-column: 2/4;
    grid-row:3/4;
    display: flex;
    align-items: center; 
    padding:5% 0 5% 5%;
    margin-bottom: 3%;
    box-shadow: 0px 15px 21px -6px var(--box-shadow);
    -webkit-box-shadow: 0px 15px 21px -6px var(--box-shadow);
    -moz-box-shadow: 0px 15px 21px -6px var(--box-shadow);
    border-radius: 5px 5px ;
}

input[type="text"]{
    background-color: var(--todo-list);
    border: none;
    outline: none;
    color:var(--light-gray-blue);
    padding: 0 3%;
    font-weight: 400;
    width: 100%;
    border-radius: 0 5px 5px 0 ;
}

.input-circle{
  border-radius: 50%;
  border: 1px solid var(--border-list);
  height: 1.2rem;
  width: 1.4rem;
}

.list-items-list{
    color: var(--list-items);
    grid-column: 2/4;
    grid-row: 4/5;
     
}

.list-items{
        background-color: var(--todo-list);
        padding: 3.5% 2%;
        list-style: none;
        border-top: 1px solid var(--border-list);
        box-shadow: 0px 15px 21px -6px var(--box-shadow);
    -webkit-box-shadow: 0px 15px 21px -6px var(--box-shadow);
    -moz-box-shadow: 0px 15px 21px -6px var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* .list-items:first-child{
  border-radius: 5px 5px 0 0 ;
} */

li{
  list-style: none;
  cursor: pointer;
}

li:first-child{
  border-radius: 5px 5px 0 0 ;
}

.clear-me{
 margin: 0 1rem;
 cursor:pointer ;
}


input[type="checkbox"]{
  position: relative;
  margin:0 1rem;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--border-list);
  height: 1.3rem;
  width: 1.3rem;
  /* transform: translateY(0.3rem); */
  cursor: pointer;
}
input[type="checkbox"]:checked{
  background-image:url("./images/icon-check.svg"), var(--gradient) ;
  background-repeat: no-repeat;
background-position: center;
  transition: 120ms transform ease-in-out;
  border: none;
}

input[type="checkbox"]:hover{
  background:linear-gradient(var(--todo-list), var(--todo-list)) padding-box, var(--gradient) border-box;
  border:1.5px solid transparent;
  border-radius: 50%;
}

.items{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.displayed{
 cursor: pointer;

}

.not-displayed{
  cursor: pointer; 
  display: none;
}



.navigation{
  background-color: var(--todo-list);
  padding: 3.5% 5%;
  border-top: 1px solid var(--border-list);
  border-radius:0 0 5px 5px ;
  color: var(--dark-gray-blue);
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  box-shadow: 0px 18px 21px -6px var(--box-shadow);
    -webkit-box-shadow: 0px 18px 21px -6px var(--box-shadow);
    -moz-box-shadow: 0px 18px 21px -6px var(--box-shadow);
}

.filter button{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-weight: 700;
}

.filter button:not(:last-child){
  padding-right:12px;
}


.clear{
    background-color: rgba(0, 0, 0, 0);
      border: none;
      color:var(--dark-gray-blue);
}

.clear:hover,
.all-items:hover,
.active-items:hover,
.completed-items:hover{
  color:var(--list-items)
}

.active-complete{
 color: var(--active-links);
}

.completed-items, .active-items, .all-items{
  color:var(--dark-gray-blue);
}

.checked-item{
text-decoration: line-through;
color: var(--strike-off)
}

.hide{
  display: none;
}

.footer{
 /* grid-column: 2/4;  */
Padding:15% 0;
text-align: center;
}

.footer p{
  /* grid-column: 2/4;  */
 color: var(--dark-gray-blue);
 }

 .active-items-link{
  color:var(--active-links)
 }



/* @media only screen and (max-width: 960px) {
    .todoContainer {
        grid-template-columns: minmax(10px, 200px) repeat(2, 1.5fr) minmax(10px, 200px);
       
    }
}

@media only screen and (max-width: 720px) {
  .todoContainer {
    grid-template-columns: minmax(15%, auto) repeat(2, 1.5fr) minmax(15%, auto);
   
  }
} */
